p {
    color: blue;
}

h5 {
    display: inline;
}

.box {
    width: 100px;
    height: 100px;

    padding: 10px;
    margin: 10px;

    display: inline-block;
    box-sizing: border-box;
}

.green {
    background: green;
}

.blue {
    background: blue;
}

.red{
    background: red;
}

.yellow {
    background: yellow;
}